#usuarios-login .mod { float: left; border: 1px solid #ccc; background: #EEE; margin-left: 10px; min-height: 180px; }
#usuarios-login .mod h1 { background: #DDD; padding: 10px; margin: 0; }
#usuarios-login .mod p { margin: 0 10px; }
#usuarios-login .mod form { padding: 10px; margin: 0; }
#usuarios-login .mod form .submit { padding: 5px; margin-top: 5px; }
#usuarios-login .mod form label { display: block; margin: 5px 0; }
#usuarios-login .mod form label span { display: inline-block; width: 45px; }
#usuarios-login .mod form label input { padding: 3px; border: 1px solid #E2E2E2; height: 21px; padding-bottom: 1px; text-indent: 2px; width: 260px; }
#usuarios-login .mod form label.pass input { width: 100px; }
#usuarios-login .mod form span.senha a { color: blue; text-decoration: underline; }

#usuarios-cadastro .mod { float: left; border: 1px solid #ccc; background: #EEE; margin-left: 10px; min-height: 180px; }
#usuarios-cadastro .mod h1 { background: #DDD; padding: 10px; margin: 0; }
#usuarios-cadastro .mod p { margin: 0 10px; }
#usuarios-cadastro .mod form { padding: 10px; margin: 0; }
#usuarios-cadastro .mod form .submit { padding: 5px; margin-top: 5px; }
#usuarios-cadastro .mod form label { display: block; margin: 5px 0; }
#usuarios-cadastro .mod form label span { display: inline-block; width: 45px; }
#usuarios-cadastro .mod form label input { padding: 3px; border: 1px solid #E2E2E2; height: 21px; padding-bottom: 1px; text-indent: 2px; width: 260px; }
#usuarios-cadastro .mod form label.cep input { width: 100px; }

#usuarios-cadastro-completo form .obr { display: inline-block; color: #F00; padding-right:  5px; margin: 15px 0; }
#usuarios-cadastro-completo form .dados { margin-top: 15px;  }
#usuarios-cadastro-completo form .dados h2 { font-size: 15px; margin-bottom: 15px;  }
#usuarios-cadastro-completo form.tipo .tipo-pessoa { margin: 15px 0; padding: 15px; background: #DDD; }
#usuarios-cadastro-completo form.tipo .tipo-pessoa label { font-size: 14px; display: inline; margin-right: 15px; }
#usuarios-cadastro-completo form .dados .col { float: left; width: 45%; display: block; }
#usuarios-cadastro-completo form .dados .col.newsletter { margin-top: 15px; background: #DDD; padding: 10px; width: 40%; }
#usuarios-cadastro-completo form .dados .col.newsletter label { margin: 0; }
#usuarios-cadastro-completo form .dados .col.newsletter label input { position: relative; top: 3px; }
#usuarios-cadastro-completo form .dados .col2 { border-left: 1px solid #DDD; padding-left: 25px; }
#usuarios-cadastro-completo form label { display: block; margin: 5px 0 15px 0; }
#usuarios-cadastro-completo form label span { display: block; }
#usuarios-cadastro-completo form label span .obr { display: inline; color: #F00; padding-left: 5px; }
#usuarios-cadastro-completo form label input.txt { padding: 3px; border: 1px solid #E2E2E2; height: 21px; padding-bottom: 1px; text-indent: 2px; width: 90%; }
#usuarios-cadastro-completo form label.w1 input.txt { width: 55%; }
#usuarios-cadastro-completo form label.w2 input.txt { width: 30%; }
#usuarios-cadastro-completo form label.w3 input.txt { width: 40%; }
#usuarios-cadastro-completo form label.w4 input.txt { width: 20%; }

