/* Class padrões
 *******************************/
.clearfix, .clear { clear: both; height: 1px; overflow: hidden; }
.left { float: left; }
.right { float: right; }
.line { display: block; margin: 7px 0; }
.wp100 { width: 100%; }
.wp90 { width: 90%; }
.wp80 { width: 80%; }
.wp70 { width: 70%; }
.wp60 { width: 60%; }
.wp50 { width: 50%; }
.wp40 { width: 40%; }
.wp30 { width: 30%; }
.wp20 { width: 20%; }
.wp10 { width: 10%; }
.w100 { width: 480px; }
.w90  { width: 280px; }
.w80  { width: 200px; }
.w70  { width: 175px; }
.w60  { width: 150px; }
.w50  { width: 125px; }
.w40  { width: 100px; }
.w30  { width: 140px; }
.w20  { width: 50px; }
.w10  { width: 25px; }
.tar { text-align: right; }
.tal { text-align: left; }
.tac { text-align: center; }
.hide { display: none; }
.block { display: block; }
.fr { float: right; }
.fl { float: left; }
.lsn { list-style: none; }
.bdr1 { border: 1px solid #BBB; }
.vat { vertical-align: top; }
.mt5 { margin-top: 5px; }
.mr5 { margin-right: 5px; }
.mb5 { margin-bottom: 5px; }
.ml5 { margin-left: 5px; }
.p5 { padding: 5px; }
.relative { position: relative; }
.absolute { position: absolute; }
.move { cursor: move; }
.red { color: #F00; }
.nowrap { white-space: nowrap; }


.aviso { margin: 10px; background: #FFFFCC; border: 1px solid #FFCD35; padding: 10px; }
.aviso h1 { margin: 0 0 10px 0; font-size: 15px; }
.aviso p { margin: 0; font-size: 13px; }
.erro { margin: 10px; background: #FFBBBB; border: 1px solid #FF4B4B; padding: 10px; }


/* Elements
 ***************************************/
html { height:100%; font-family: Arial, Tahoma, Verdana; font-size: 12px !important; }
body { margin: 0; padding: 0; width: 100%; background: #FFF; }
textarea { resize: none; font-family: Arial, Tahoma, Verdana; font-size: 12px; }
label { cursor: pointer; cursor: hand; vertical-align: middle; margin-left: 4px; }
a { color: #2200CC; outline: none; }
img { border: 0; }
form { padding: 0; margin: 0; border: 0; }
hr { margin: 12px 0; border: 1px solid #999; clear: both; }
hr.botton { margin-top: 30px; }
select.w100 { width: 488px; }
img.status { width: 20px; }
h1 { font-size: 40px; font-weight: bold; margin: 20px 0; color: #525A5D; }
h2 { font-size: 25px; font-weight: bold; margin: 20px 0; color: #525A5D; }



/* Dialog
 ***************************************/
.ui-dialog { font-size: 12px; }
.ui-button { font-size: 12px; cursor: pointer; padding: 0px; margin: 0 0 20px 0; font-weight: bold; }
.ui-widget { font-size: 12px; }



/* bwGrid
 ***************************************/
.bwGrid { width: 100%; margin-bottom: 15px; position: relative; }
.bwGrid table { width: 100%; margin: 10px 0; }
.bwGrid table thead th { padding: 5px; background: #35679A; font-size: 12px; font-weight: bold; color: #FFF; }
.bwGrid table thead th.asc a { background: url(../img/orderby-asc.png) no-repeat 5px center; padding-left: 18px;  }
.bwGrid table thead th.desc a { background: url(../img/orderby-desc.png) no-repeat 5px center; padding-left: 18px;  }
.bwGrid table thead th a { color: #FFF; font-weight: bold; }
.bwGrid table tbody tr td { padding: 5px; border-bottom: 1px solid #CCC; }
.bwGrid table tbody tr.hover td { background: #E3E9FF; }
.bwGrid .limit { width: 250px; float: left; }
.bwGrid .resultados { width: 250px; float: left; }
.bwGrid .busca { width: 350px; float: right; text-align: right; }
.bwGrid .busca .text { width: 250px; font-size: 12px; border: 1px solid #CCC; margin-right: 10px; padding: 4px; }
.bwGrid .busca .text:focus { background: #FFFFCC; }
.bwGrid .busca .submit { width: 50px; border: none; padding: 3px; font-size: 12px; background: #35679A; color: #FFF; }
.bwGrid .paginacao { width: 380px; float: right; text-align: right; }
.bwGrid .paginacao a { padding: 5px; margin: 3px; }



/* Forms
 ***************************************/
form { position: relative; }
form h2 { border-bottom: 1px solid #CCC; padding-bottom: 3px; margin: 30px 0 15px 0; }
form .block { display: block; margin: 10px 0; }
form .inline { display: inline-block; margin: 0 15px 15px 0; }
form .campo span { color: #000; display: inline-block; width: 150px; text-align: right; vertical-align: top; padding-top: 3px; margin-right: 2px; }
form .campo span.mceEditor span { width: auto; }
form .campo span.obs { color: #000; margin-top: 3px; }
form .campo span.limitResult { color: #000; display: block; margin-left: 493px;  }
form .campo span.pass { color: #000; display: inline-block; width: 200px; text-align: left; margin-left: 3px; }
form .campo span.pass.red { color: #F00; }
form .campo span.pass.green { color: #2BAF5C; }
form .campo span.pass span.fra { color: #F00; display: normal; width: auto; text-align: left; margin: 0; }
form .campo span.pass span.for { color: #2BAF5C; display: normal; width: auto; text-align: left; margin: 0; }
form .campo span.alert1 { color: #000; background: #FFF9B2; border: 1px solid #CCC; padding: 3px; display: block; width: 490px; text-align: left; float: right; margin-top: 7px; }
form .campo span.input { color: #000; font-weight: bold; text-align: left; width: 458px; }
form .campo label { margin-right: 10px; }
form .campo input { padding: 3px 4px; border: 1px solid #CCC; }
form .campo select { padding: 3px 4px; border: 1px solid #CCC; }
form .campo textarea { padding: 3px 4px; border: 1px solid #CCC; height: 70px;}
form .campo textarea.autoresize {  }
form .campo input:focus { background: #FFFFCC; }
form .campo textarea:focus { background: #FFFFCC; }
form .campo select:focus { background: #FFFFCC; }
form .campo input.radio { margin-right: 2px; border: none; }
form .campo input.radio { margin-right: 2px; border: none; }
form .campo p.erro { margin: 3px 0; margin-left: 155px; color: #FF0000; background: #FFF; border: none; padding: 0; }
form .campo.erro { background: #FFF; border: none; padding: 0; }
form .campo.erro input { border: 1px solid #F33; }
form .campo.erro select { border: 1px solid #F33; }
form .campo.erro textarea { border: 1px solid #F33; }
form .button.salvar { }
form .button.remover { float: right; }



/* Mensagens
 ***************************************/
#admMsg { margin: 10px; background: #FFFFCC; border: 1px solid #FFCD35; padding: 10px; }
#admMsg h1 { margin: 0 0 10px 0; font-size: 15px; }
#admMsg p { margin: 0; font-size: 13px; }
#admMsg.ok { background: #FFFFCC; border: 1px solid #FFCD35; }
#admMsg.erro { background: #FFAAAA; border: 1px solid #FF3333; }



/* PAGE
 ***************************************/
#page { padding: 0; margin: 0; }



/* TOPO
 ***************************************/
#topo { background: #35679A; }
#topo .center { width: 980px; padding: 10px 0; margin: 0 auto; position: relative;  }
#topo .center h1 { background: url('../img/logo2.jpg') 0 0 no-repeat; width: 205px; height: 100px; text-indent: -9999px; }
#topo .center .dados { font-size: 13px; color: #FAFAFA; position: absolute; top: 10px; right: 0; margin: 0; } 
#topo .center .dados a { font-size: 13px; color: #FAFAFA; padding: 0 5px; text-decoration: none; } 
#topo .center .dados a:hover { text-decoration: underline; } 
#topo .center .dados a.sair { padding: 0 0 0 5px; } 
#topo .center .dados span { padding: 0 5px; } 
#topo .center .componentes { width: 320px; padding: 3px; border: 1px solid #5D85AE; background: #35679A; color: #FAFAFA; font-size: 13px; vertical-align: center; position: absolute; top: 45px; right: 0; } 
#topo .center .componentes option { padding: 0 3px; background: #35679A; color: #FAFAFA; font-size: 13px; } 
 
 


/* MENU 
 ***************************************/
#menu { background: #535A5E; position: relative; }
#menu .center { width: 980px; height: 44px; margin: 0 auto; position: relative; overflow: hidden; }
#menu .center ul.com { list-style: none; margin: 0; padding: 0; display: block; }
#menu .center ul.com li { margin: 0; padding: 0 10px; float: left; display: block; line-height: 44px; height: 44px; font-size: 13px; color: #FFF; }
#menu .center ul.com li:first-child { padding-left: 0; }
#menu .center ul.com li:last-child { padding-right: 0; display: none; }
#menu .center ul.com li a { display: block; line-height: 44px; height: 44px; font-size: 13px; color: #FFF; text-decoration: none; }
#menu .center ul.com li a:hover { text-decoration: underline; }
#menu .center ul.com li.active a { font-weight: bold; }
#menu .prev { background: url('../img/st2.jpg') center bottom no-repeat; position: absolute; display: none; width: 12px; height: 24px; top: 0; left: 0; text-indent: -9999px;   }
#menu .next { background: url('../img/st3.jpg') center bottom no-repeat; position: absolute; display: none; width: 12px; height: 24px; top: 0; left: 0; text-indent: -9999px;   }



/* MENU SUBMENU
 ***************************************/
#submenu { background: #A7AEB1; }
#submenu .center { width: 980px; height: 35px; margin: 0 auto; position: relative; }
#submenu .center ul { list-style: none; margin: 0; padding: 0; }
#submenu .center ul li { margin: 0; padding: 0; float: left; display: block; line-height: 35px; height: 35px; font-size: 13px; color: #FFF; border-right: 1px solid #FFF; }
#submenu .center ul li:last-child { border: none; }
#submenu .center ul li a { padding: 0 20px; display: block; line-height: 35px; height: 35px; font-size: 13px; color: #FFF; text-decoration: none; }
#submenu .center ul li a:hover { background: #D1D3D6; color: #535A5E; }
#submenu .center ul li.active a { background: #D1D3D6; color: #535A5E; position: relative; }




/* RODAPÉ
 ***************************************/
#rodape { background: #535A5E; border-top: 8px solid #26292B; height: 70px; }
#rodape .center { width: 980px; margin: 0 auto; padding: 15px;  text-align: left; }
#rodape .center p { color: #FFFFFF; }
#rodape .center p a { color: #FFFFFF; }




/* CONTEUDO
 ***************************************/
#conteudo { background: #FFF; }
#conteudo .center { width: 980px; margin: 0 auto; padding: 0; position: relative; background: #FFF; text-align: left; }




#config-painel td { vertical-align: top; text-align: left; }
#config-painel .lateral-menu { vertical-align: top; width: 200px; text-align: left; }
#config-painel .lateral-menu ul { list-style: none; margin: 0; padding: 0; }
#config-painel .lateral-menu ul li a { color: #FFF; text-decoration: none; padding: 7px 10px; background: #6FB7D6; display: block; margin-bottom: 3px; }
#config-painel .lateral-menu ul li a:hover { text-decoration: underline; background: #35679A; }
#config-painel .lateral-menu ul li.active a { background: #35679A; }



#config-painel .container { padding-left: 30px; }
#config-painel .container h2 { border-bottom: 1px solid #CCC; padding-bottom: 3px; margin: 0 0 15px 0;  }
#config-painel .container .button { margin: 30px 0 0 0; }